# React Native
node_modules/
npm-debug.log
yarn-error.log

# Android
android/.gradle/
android/app/build/
android/build/
*.hprof

# iOS
ios/Pods/
ios/build/

# IDEs y herramientas
*.iml
.idea/
.vscode/
*.log

# Archivos temporales
*.keystore
*.apk
.DS_Store
